@font-face {
	font-family: Noto Sans;
	src: url("assets/fonts/Roboto-Black.ttf");
}

*{
	box-sizing: border-box;
}
 
body {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: 100vh;
 margin: 0;
 padding: 0;
}

.container {
 max-width: 1440px;
 margin: 0 auto;
}

.nav-list {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 list-style: none;
 padding: 0 20px;
 line-height: 50px;
 transition: .3s;
 cursor: pointer;
}

html {
 scroll-behavior: smooth;
}

.section-item a {
 color: #829985;
 text-decoration: none;
 transition: color 0.5s;
}

.section-item a:hover {
 color: #4d2323;
}