@font-face {
	font-family: Noto Sans;
	src: url("assets/fonts/Roboto-Black.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #1e5681;
	--text-color: #414141;
}
html {
	font-size: 10px;
}
body {
	font-family: Inter, sans-serif;
	background-color:rgb(126, 163, 233);
	color: 171717;
}

/* nav */

.nav-list {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

.nav-link{
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color:#1e5681;
    font-weight: 700;
	font-size: 1.5em;

}

.nav-link:hover{
    transition: .3s;
	color: #424242;
}

/* nav footer */
.nav-link-footer{
    padding: 0 100px;
    line-height: 50px;
    text-decoration: none;
    color:#1e5681;
    font-weight: 700;
	font-size: 1.5em;

}

.nav-link-footer:hover{
    transition: .3s;
	color: #424242;
}

/* styles */
img {
	width: 100%;
	height: 100;
}
a {
	text-decoration: none;
	color: 171717;
}
.description {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-color);
}
.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
.item_preTitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
.item_title {
	font-size: 1.6rem;
	color: #424242;
	font-weight: 500;
	margin: 0.8rem 0;
}
.item_subtitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
}

/* layouts */
.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 4rem;
	background: rgb(126, 163, 233);
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		padding: 3rem;
		gap: 7rem;
	}
		
	.nav-link{
		font-weight: 400;
		font-size: 1em;
	}
	}

.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.section-1,
.section-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

@media only screen and (max-width: 768px) {
	.profile {
		margin-bottom: 0;
	}
}

/* profile */
.profile_container {
	display: flex;
	gap: 2rem;
}
.profile_img{
	max-width: 450px;
}
.profile_name_firstName {
	color: var(--primary-color);
	font-weight: 200;
	font-size: clamp(2rem, 15vw, 5rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}
.profile_name_lastName {
	color: var(--primary-color);
	font-weight: 700;
	font-size: clamp(2rem, 15vw, 5rem);
	text-transform: uppercase;
	display: block;
}
.profile_title {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
	.profile_container {
		flex-direction: column;
	}
}

/* Expertise */
.skills_list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

/* Ref  */
.ref_item {
	margin-top: 2rem;
}
.ref_name {
	font-size: 1.6rem;
	font-weight: 700;
}

/* eduction */
.edu_item {
	margin-top: 2rem;
}

/* courses */
.courses_item {
	margin-top: 2rem;
}

.courses-list{
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}
/* exp */
.exp_item {
	margin-top: 2rem;
}
.exp-list{
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

.exp-link{
	text-decoration: none;
	color: #0b76c8;
}

.exp-link:hover{
	color: #414141;
}

/* code */
.code_item{
	margin-top: 2rem;
}

.code-list{
	margin-top: 2rem;
	margin-left: 2rem;
	line-height: 1.5;
}

.code-example{
font-size: 1.3em;
margin-top: 2em;
margin-left: 2em;
}

/* Languages */
.languages_item {
	margin-top: 2rem;
}

/* contact */
.contact{
margin-top: 1rem;
}

.contact_info .description{
	list-style: none;
}
/* hr */
hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	border: none;
	border-top: 2px solid rgba(128, 128, 128, 0.229);
}
@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
}
