@font-face {
	font-family: Noto Sans;
	src: url("assets/fonts/Roboto-Black.ttf");
}

*{
	box-sizing: border-box;
}
 
body {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: 100vh;
 margin: 0;
 padding: 0;
}

.container{
 max-width: 1440px;
 margin: 0 auto;
}